@import "styles/variables";

.page {
  padding: 16px;
  background: $background-color;
}
.container {
  margin-top: 16px;
  padding: 16px;
  border: 1px solid $container-border;
  border-radius: 8px;
  background-color: white;
}

.carousel {
  width: 100%;
  height: 50vh;
}
.price {
  direction: ltr;
  margin-top: 0 !important;
}
.rate {
  direction: ltr;
}
.buy {
  flex: 1;
  margin-left: 16px;
}
.rateContainer {
  display: flex;
  justify-content: space-between;
}
.buyContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  display: flex;
  background-color: white;
  border-top: 1px solid $border-color;
  box-shadow: 0 -1px 1px 1px #CED4DA;
}
.sellerIcon {
  border: 1px solid $border-color;
  border-radius: 100%;
  object-fit: contain;
  width: 50px;
  height: 50px;
  margin: 0 8px;
}
.instagramIcon {
  line-height: 2 !important;
}
.sliderItem {
  height: 50vh;
  background-position: center;
  background-size: cover;
}