@import "~antd/dist/antd.css";
@import "main";
@import "overrideStyle";

@font-face {
  font-family: 'Vazir';
  src: url('/font/Vazir.eot');
  src: url('/font/Vazir.woff2') format('woff2'),
  url('/font/Vazir.woff') format('woff'),
  url('/font/Vazir.ttf')  format('truetype');
}

html {
  direction: rtl;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Vazir', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}