@import "variables";

.ant-carousel {
  border: 1px solid $container-border;
  border-radius: 8px;
  overflow: hidden;
}
.ant-btn-primary {
  background: #495057;
  border-color: #495057;
}
.ant-modal-close {
  left: 0;
  right: unset;
}
.ant-input-prefix {
  margin-right: 0;
  margin-left: 4px;
}